# Gastric Cancer Dataset Analysis:

## Dataset Overview :
-  1- Demographic and Behavioral Data (age , gender , ethnicity , geographical_location , family_history).
-  2- Lifestyle and Health Habits (smoking_habits , alcohol_consumption , dietary_habits).
-  3- Medical Conditions & Infections (helicobacter_pylori_infection , existing_conditions).
-  4-  Genetic Data (miRNA & Target Genes (mature_mirna_acc , mature_mirna_id , target_symbol , target_entrez , target_ensembl)

### 1 - Import Libraries .

In [8]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [9]:
# Load the data 
gc = pd.read_csv(r"C:\Users\user\Documents\DEPI\gastric_cancer_detection_dataset.csv")

### 2- Explor Data .

In [10]:
gc.shape

(212354, 29)

In [11]:
gc.head()

,age,gender,ethnicity,geographical_location,family_history,smoking_habits,alcohol_consumption,helicobacter_pylori_infection,dietary_habits,existing_conditions,...,elmmo,microcosm,miranda,mirdb,pictar,pita,targetscan,predicted.sum,all.sum,label
0,43,Male,Ethnicity_A,Other,1,0,0,0,Low_Salt,Chronic Gastritis,...,0.187003,0.786422,0.204816,0.561920,0.438175,0.283603,0.928244,4.324299,7.666791,0
1,86,Female,Ethnicity_B,California,1,0,0,1,High_Salt,Diabetes,...,0.493322,0.963989,0.498041,0.985585,0.144609,0.375375,0.103573,7.967674,1.483280,0
2,68,Male,Ethnicity_A,California,0,1,1,0,High_Salt,None,...,0.573560,0.666896,0.540388,0.905853,0.827279,0.350915,0.166878,3.748651,3.046783,0
3,57,Female,Ethnicity_A,Other,0,0,0,1,High_Salt,Chronic Gastritis,...,0.261399,0.949488,0.134170,0.429935,0.935231,0.794704,0.867036,5.478298,8.811307,0
4,33,Male,Ethnicity_A,California,0,1,1,0,High_Salt,Diabetes,...,0.754478,0.263164,0.876767,0.650832,0.337669,0.427492,0.915804,1.809181,0.394632,0

In [12]:
gc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212354 entries, 0 to 212353
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   age                            212354 non-null  int64
 1   gender                         212354 non-null  object
 2   ethnicity                      212354 non-null  object
 3   geographical_location          212354 non-null  object
 4   family_history                 212354 non-null  int64
 5   smoking_habits                 212354 non-null  int64
 6   alcohol_consumption            212354 non-null  int64
 7   helicobacter_pylori_infection  212354 non-null  int64
 8   dietary_habits                 212354 non-null  object
 9   existing_conditions            212354 non-null  object
 10  endoscopic_images              212354 non-null  object
 11  biopsy_results                 212354 non-null  object
 12  ct_scan                        212354 non-null  object
 13  mature_mirna_acc               212354 non-null  object
 14  mature_mirna_id                212354 non-null  object
 15  target_symbol                  212354 non-null  object
 16  target_entrez                  212354 non-null  int64
 17  target_ensembl                 212354 non-null  int64
 18  diana_microt                   212354 non-null  float64
 19  elmmo                          212354 non-null  float64
 20  microcosm                      212354 non-null  float64
 21  miranda                        212354 non-null  float64
 22  mirdb                          212354 non-null  float64
 23  pictar                         212354 non-null  float64
 24  pita                           212354 non-null  float64
 25  targetscan                     212354 non-null  float64
 26  predicted.sum                  212354 non-null  float64
 27  all.sum                        212354 non-null  float64
 28  label                          212354 non-null  int64
dtypes: float64(10), int64(8), object(11)
memory usage: 47.0+ MB

In [13]:
gc.describe()

,age,family_history,smoking_habits,alcohol_consumption,helicobacter_pylori_infection,target_entrez,target_ensembl,diana_microt,elmmo,microcosm,miranda,mirdb,pictar,pita,targetscan,predicted.sum,all.sum,label
count,212354.000000,212354.000000,212354.000000,212354.000000,212354.000000,212354.000000,2.123540e+05,212354.000000,2.123540e+05,212354.000000,212354.000000,212354.000000,2.123540e+05,212354.000000,212354.000000,212354.000000,212354.000000,212354.000000
mean,53.258036,0.300564,0.399154,0.499378,0.249470,5496.117332,1.499874e+06,0.500527,4.994971e-01,0.500083,0.499895,0.500125,4.989745e-01,0.501152,0.501117,5.010346,5.000085,0.098698
std,18.984419,0.458504,0.489726,0.500001,0.432707,2596.817632,2.882585e+05,0.288757,2.888452e-01,0.288491,0.288571,0.288738,2.884995e-01,0.288874,0.288678,2.884461,2.882685,0.298257
min,20.000000,0.000000,0.000000,0.000000,0.000000,1000.000000,1.000007e+06,0.000005,6.090000e-07,0.000003,0.000001,0.000013,7.740000e-07,0.000008,0.000004,0.000016,0.000082,0.000000
25%,37.000000,0.000000,0.000000,0.000000,0.000000,3252.000000,1.251177e+06,0.250034,2.486468e-01,0.249877,0.250206,0.250293,2.497943e-01,0.250322,0.251790,2.512241,2.505941,0.000000
50%,50.000000,0.000000,0.000000,0.000000,0.000000,5491.000000,1.500324e+06,0.501302,4.998040e-01,0.500498,0.499635,0.499888,4.985230e-01,0.502228,0.501814,5.018196,5.003598,0.000000
75%,69.000000,1.000000,1.000000,1.000000,0.000000,7738.000000,1.748424e+06,0.750783,7.495843e-01,0.748769,0.749075,0.749994,7.487212e-01,0.751212,0.751860,7.508878,7.493106,0.000000
max,89.000000,1.000000,1.000000,1.000000,1.000000,9999.000000,1.999998e+06,0.999998,9.999993e-01,0.999997,0.999997,1.000000,9.999986e-01,0.999993,0.999997,9.999908,9.999987,1.000000

In [14]:
gc.columns

Index(['age', 'gender', 'ethnicity', 'geographical_location', 'family_history',
       'smoking_habits', 'alcohol_consumption',
       'helicobacter_pylori_infection', 'dietary_habits',
       'existing_conditions', 'endoscopic_images', 'biopsy_results', 'ct_scan',
       'mature_mirna_acc', 'mature_mirna_id', 'target_symbol', 'target_entrez',
       'target_ensembl', 'diana_microt', 'elmmo', 'microcosm', 'miranda',
       'mirdb', 'pictar', 'pita', 'targetscan', 'predicted.sum', 'all.sum',
       'label'],
      dtype='object')

### 3- Data Preprocessing (Data Cleaning & Preparation).

#### 1- Check the missing values :

In [15]:
gc.isnull().sum()

age                              0
gender                           0
ethnicity                        0
geographical_location            0
family_history                   0
smoking_habits                   0
alcohol_consumption              0
helicobacter_pylori_infection    0
dietary_habits                   0
existing_conditions              0
endoscopic_images                0
biopsy_results                   0
ct_scan                          0
mature_mirna_acc                 0
mature_mirna_id                  0
target_symbol                    0
target_entrez                    0
target_ensembl                   0
diana_microt                     0
elmmo                            0
microcosm                        0
miranda                          0
mirdb                            0
pictar                           0
pita                             0
targetscan                       0
predicted.sum                    0
all.sum                          0
label                            0
dtype: int64

#### 2- Check the duplicate columns:

In [16]:
gc.duplicated().sum()

0

#### 3- Drop Columns :

- We don’t need both the id and accession number for our analysis or modeling so we will drop the mature_mirna_acc column because is more interpretable for human readers and is preferred in plots, reports, and publications.

In [17]:
gc["mature_mirna_id"].value_counts()

MIR123_1    148248
MIR234_2     42780
MIR345_3     21326
Name: mature_mirna_id, dtype: int64

In [18]:
gc["mature_mirna_acc"].value_counts()

MIR123    148596
MIR234     42474
MIR345     21284
Name: mature_mirna_acc, dtype: int64

In [19]:
gc.copy()

,age,gender,ethnicity,geographical_location,family_history,smoking_habits,alcohol_consumption,helicobacter_pylori_infection,dietary_habits,existing_conditions,...,elmmo,microcosm,miranda,mirdb,pictar,pita,targetscan,predicted.sum,all.sum,label
0,43,Male,Ethnicity_A,Other,1,0,0,0,Low_Salt,Chronic Gastritis,...,0.187003,0.786422,0.204816,0.561920,0.438175,0.283603,0.928244,4.324299,7.666791,0
1,86,Female,Ethnicity_B,California,1,0,0,1,High_Salt,Diabetes,...,0.493322,0.963989,0.498041,0.985585,0.144609,0.375375,0.103573,7.967674,1.483280,0
2,68,Male,Ethnicity_A,California,0,1,1,0,High_Salt,None,...,0.573560,0.666896,0.540388,0.905853,0.827279,0.350915,0.166878,3.748651,3.046783,0
3,57,Female,Ethnicity_A,Other,0,0,0,1,High_Salt,Chronic Gastritis,...,0.261399,0.949488,0.134170,0.429935,0.935231,0.794704,0.867036,5.478298,8.811307,0
4,33,Male,Ethnicity_A,California,0,1,1,0,High_Salt,Diabetes,...,0.754478,0.263164,0.876767,0.650832,0.337669,0.427492,0.915804,1.809181,0.394632,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212349,47,Male,Ethnicity_A,California,0,1,1,0,High_Salt,Chronic Gastritis,...,0.408123,0.925035,0.267628,0.538474,0.463471,0.827892,0.929147,0.866260,6.698303,0
212350,59,Female,Ethnicity_A,California,0,1,1,0,High_Salt,Chronic Gastritis,...,0.578204,0.768279,0.339168,0.236523,0.444216,0.011762,0.053098,5.102216,2.338017,0
212351,58,Female,Ethnicity_C,California,0,0,0,0,High_Salt,None,...,0.940936,0.865221,0.448189,0.899351,0.766615,0.098454,0.384019,7.774612,4.601637,1
212352,77,Female,Ethnicity_B,California,1,1,0,1,High_Salt,Chronic Gastritis,...,0.498088,0.048195,0.924610,0.101521,0.464988,0.639401,0.410327,2.362698,2.020047,0
212353,71,Male,Ethnicity_A,California,0,0,0,1,High_Salt,None,...,0.689696,0.701524,0.250955,0.102458,0.077025,0.463766,0.765164,2.392974,4.487878,0

In [20]:
# Drop the mature_mirna_acc column.
gc.drop(columns = ['mature_mirna_acc'] , inplace = True )

In [21]:
# Check the dimention. 
gc.shape

(212354, 28)

#### 4. Encode Categorical Data

- Gender Column : Patient's gender (Male/Female) . It Can influence patterns of cancer incidence .

In [22]:
# counting the values in gender column befor encoding .
gc["gender"].value_counts()

Male      148706
Female     63648
Name: gender, dtype: int64

In [23]:
# gender Encoding ( male : 0 , Female : 1 ).
gc["gender"] = gc["gender"].map({'Female' : 1 , 'Male' : 0 })

# Check the column after the encoding.
gc["gender"].value_counts()

0    148706
1     63648
Name: gender, dtype: int64

- Ethnicity Column : Ethnic background and it helps in analyzing genetic and environmental influence

In [24]:
# counting the values in ethnicity column befor encoding .
gc["ethnicity"].value_counts()

Ethnicity_A    127571
Ethnicity_B     63569
Ethnicity_C     21214
Name: ethnicity, dtype: int64

In [25]:
# Ethnicity Encoding (Ethnicity_A : 0 ,Ethnicity_B : 1 ,Ethnicity_C : 2 )
gc["ethnicity"] = gc["ethnicity"].replace({"Ethnicity_A" : 0 , "Ethnicity_B" : 1 , "Ethnicity_C" : 2})

# Check the column after the encoding.
gc["ethnicity"].value_counts()

0    127571
1     63569
2     21214
Name: ethnicity, dtype: int64

- Geographical_Location Column : Patient's location . It is important for understanding environmental exposure, diet, and infections.

In [26]:
# counting the values in geographical_location column befor encoding .
gc["geographical_location"].value_counts()

California    169603
Other          42751
Name: geographical_location, dtype: int64

In [27]:
# Geographical_Location Encoding (California : 1 , Other : 0)
gc["geographical_location"] = gc["geographical_location"].replace({"California" : 1 , "Other" : 0})

# Check the column after the encoding.
gc["geographical_location"].value_counts()

1    169603
0     42751
Name: geographical_location, dtype: int64

- Dietary_Habits Column : Eating patterns ( high or low salt) aand Dietary habits affect gut health and microbiome balan.

In [28]:
# counting the values in dietary_habits column befor encoding .
gc["dietary_habits"].value_counts()

High_Salt    169805
Low_Salt      42549
Name: dietary_habits, dtype: int64

In [29]:
# dietary_habits Encoding (low salt : 0 , high salt : 1).
gc["dietary_habits"] = gc["dietary_habits"].replace({'High_Salt' : 1 , 'Low_Salt' : 0})

# Check the column after the encoding. 
gc["dietary_habits"].value_counts()

1    169805
0     42549
Name: dietary_habits, dtype: int64

- Existing_Conditions Column : Pre-existing conditions (e.g., gastritis, diabetes). It Helps understand overall health and risk factors.

In [30]:
# counting the values in existing_conditions column befor encoding .
gc["existing_conditions"].value_counts()

Chronic Gastritis    106309
Diabetes              63559
None                  42486
Name: existing_conditions, dtype: int64

In [31]:
#  Replacing the value "None" in the 'existing_conditions' column with "No_exist" 
# to make it more descriptive and avoid confusion with actual missing values (NaN).
gc["existing_conditions"] = gc["existing_conditions"].replace({"None" : "No_exist"})

# Check the column after replace the value "None".
gc["existing_conditions"].value_counts()

Chronic Gastritis    106309
Diabetes              63559
No_exist              42486
Name: existing_conditions, dtype: int64

In [32]:
# existing_conditions encoding (No_exist : 0 , Diabetes : 1 , Chronic Gastritis : 2 )
gc["existing_conditions"] = gc["existing_conditions"].map({"No_exist" : 0 , "Diabetes" : 1 , "Chronic Gastritis" : 2})

# Check the column after the encoding. 
gc["existing_conditions"].value_counts()

2    106309
1     63559
0     42486
Name: existing_conditions, dtype: int64

- Endoscopic_Images Column : Endoscopy results (Normal/Abnormal) . Key diagnostic tool for detecting cancer.

In [33]:
# counting the values in endoscopic_images column befor encoding .
gc["endoscopic_images"].value_counts()

Normal      148523
Abnormal     63831
Name: endoscopic_images, dtype: int64

In [34]:
# Endoscopic Images Encoding (Abnormal: 0 , Normal : 1 )
gc["endoscopic_images"] = gc["endoscopic_images"].map({"Abnormal" : 0 , "Normal" : 1 })

# Check the column after the encoding. 
gc["endoscopic_images"].value_counts()

1    148523
0     63831
Name: endoscopic_images, dtype: int64

- Biopsy_Results Column : Biopsy findings (Positive/Negative) . It Determines presence of cancer cells.

In [35]:
# counting the values in endoscopic_images column befor encoding .
gc["biopsy_results"].value_counts()

Negative    191223
Positive     21131
Name: biopsy_results, dtype: int64

In [36]:
# Biopsy Results Encoding (Negative : 0 , Positive : 1)
gc["biopsy_results"] = gc["biopsy_results"].map({"Negative" : 0 , "Positive" : 1})

# Check the column after the encoding.  
gc["biopsy_results"].value_counts()

0    191223
1     21131
Name: biopsy_results, dtype: int64

- Ct_Scan Column : CT scan results	Shows spread and staging of cancer.

In [37]:
# counting the values in ct_scan column befor encoding .
gc["ct_scan"].value_counts()

Negative    169740
Positive     42614
Name: ct_scan, dtype: int64

In [38]:
# Ct Scan Encoding (Negative : 0 , Positive : 1)
gc["ct_scan"] = gc["ct_scan"].map({"Negative" : 0 , "Positive" : 1})

# Check the column after the encoding.  
gc["ct_scan"].value_counts()

0    169740
1     42614
Name: ct_scan, dtype: int64

- Target_Symbol Column : Target gene name	The gene regulated by the miRNA .

In [39]:
# counting the gene names that regulated by the miRNA
gc["target_symbol"].value_counts()

TP53    106351
CDH1     63570
KRAS     42433
Name: target_symbol, dtype: int64

- Family_Histor Column : Family history of cancer (1 = Yes/ 0 = No)	Strong indicator of genetic predisposition.

In [40]:
gc["family_history"].value_counts()

0    148528
1     63826
Name: family_history, dtype: int64

- Label Column : Indicates if the patient has gastric cancer (1 = Yes, 0 = No)	This is the target variable for prediction models.

In [41]:
gc["label"].value_counts()

0    191395
1     20959
Name: label, dtype: int64

In [ ]:
# Save file after preproccesing 
gc.to_csv("cleand_gastric_cancer.csv", index=False)